// 全局sass变量
// 主题色
$primary-color: #FB4A47;
// 圆角
$border-radius: 8rpx;
// 大字号颜色
$color333: #333;
// 小字号颜色
$color90: #909090;
$color999: #999;
$color666: #666;
// 主标题
$font40: 40rpx;
// 标题
$font36: 36rpx;
// 小标题
$font32: 32rpx;
// 正文
$font28: 28rpx;
$font24: 24rpx;
$font20: 20rpx;